pipeline/Dynamic mapping with Schema.json
{
	"name": "Dynamic mapping with Schema",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "RouterMetadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"value": "@if(\n    equals(item().name,'customers.csv') , pipeline().parameters.customers,\n            if(\n                equals(item().name,'drivers.csv') ,pipeline().parameters.drivers\n            ,pipeline().parameters.trips\n            )\n    )",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "Dynamic_csv",
									"type": "DatasetReference",
									"parameters": {
										"P_Container": "source",
										"P_Folder": "Files",
										"P_File": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Dynamic_csv",
									"type": "DatasetReference",
									"parameters": {
										"P_Container": "sink",
										"P_Folder": "schema",
										"P_File": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"customers": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "customer_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "customer_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "first_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "first_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "last_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "last_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "email",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "email",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "phone_number",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "phone_number",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "city",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "city",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "signup_date",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "signup_date",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"drivers": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "driver_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "driver_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "first_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "first_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "last_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "last_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "phone_number",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "phone_number",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "vehicle_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "vehicle_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "driver_rating",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "driver_rating",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "city",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "city",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"trips": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "trip_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "trip_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "driver_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "driver_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "customer_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "customer_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "vehicle_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "vehicle_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "trip_start_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "trip_start_time",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "trip_end_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "trip_end_time",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "start_location",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "start_location",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "end_location",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "end_location",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "distance_km",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "distance_km",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "fare_amount",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "fare_amount",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "payment_method",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "payment_method",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "trip_status",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "trip_status",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-25T01:41:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}